#splash_login{
	z-index: 100;
}

#splash_request_wall_url{
	z-index: 95;
}

.splash_background{
  position: absolute;
  background: #F6FAFF;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.splash_title{
  color:#4A4A4A;
  text-align:center;
  font-size:40px;
  margin:0 auto;
  display:block;
  font-family: "Open Sans";
}

.splash_subtitle{
  color:#4A4A4A;
  text-align:center;
  font-size:20px;
  margin:0 auto;
  display:block;
  font-family: "Open Sans";
  padding-bottom: 20px;
}

.splash_fb_button{
  display: block;
  font-family: "Open Sans", sans-serif;
  outline: 0;
  background: #4A90E2;
  width: 320px;
  border: 0;
  margin: 20px auto;
  padding: 20px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.splash_fb_button:hover{
  background: #FFCA2A;
}

.splash_send_button{
  display: block;
  font-family: "Open Sans", sans-serif;
  outline: 0;
  background: #4A90E2;
  width: 100px;
  border: 0;
  margin: 20px auto;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.splash_send_button:hover{
  background: #FFCA2A;
}

.splash_footer{
  color: black;
  font-size: 11px;
  font-family: "Open Sans";
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.splash_fireandice_icon{
  padding-top: 140px;
  width: 50px;
  margin: 0 auto;
}


.splash_img {
    display: inline-block;
    text-align: center;
    width:50px; /* you can use % */
    height: auto;
}

.splash_error_message {
  color:red;
  text-align:center;
  font-size:14px;
  margin:0 auto;
  display:block;
  font-family: "Open Sans";
  padding-bottom: 20px;
}


#splash_input_create_wall_url{
	position: relative;
	text-align: center;
	display: block;
	padding: 0;
	border: 0;
	height: 18px;
	width: 250px;
	margin: 0 auto;
  	padding: 20px;
  	color: black;
  	font-size: 14px;
  	box-shadow: 2px 2px 5px #888;
}


#splash_input_create_wall_url:focus{
	box-shadow: 0;
	outline: 0;
}


#main_page{
	top:0;
	height: 100%;
	text-align: center;


}


html,body{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	min-width: 1120px;
	max-width: 1500px;
	font-family: "Open Sans";


}


body{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	background: #F6FAFF;
	overflow: hidden;
}

#header{
	text-align: justify;
	display: block;
	padding: 15px;
	top: 0;
	background: #4A4A4A;
	min-width: 900px;
	height: 40px;
	box-shadow: 1px 1px 16px #888;
	z-index: 10000;
}


.sidebar{
	display: inline-block;
	background: #ECECEC;
	height: 100%;
	font-family: "Open Sans";
	width: 250px;
	z-index: -999;
	text-align: justify;
}

#right_sidebar{
		float: right;
		box-shadow: -1px 1px 4px #888;
		z-index: -9999;


}

#left_sidebar{
		float: left;
		box-shadow: 1px 1px 4px #888;
		z-index: -9999;

}

#wall_content{
	display: inline-block;
	width: 560px;
	text-align: center;
	padding: 30px;
	overflow-y: auto;
    max-height: -webkit-calc(100% - 90px);
    max-height: -moz-calc(100% - 90px);
    max-height: calc(100% - 90px);
  

}

.message{
	display: block;
	width: 350px;
	height: auto;
	text-align: justify;
	margin-bottom: 25px;
    box-shadow: 1px 1px 3px #888;
    font-size: 13px;
    background-color: white;
}

.message_text{
	width: 315px;
	padding: 20px;
	text-align: left;
	word-wrap:break-word;
}

.message_menu{
	border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-width: 2px;
    border-color: gray;
	background-color: white;
	height: 40px;
}

.message_menu .fire_message{
    border-color: #F5A623;

}

.message_menu .ice_message{
    border-color: #039BE5;

}

.message_fireandice_icon{
	float: left;

}

.message_fire_icon{
	width: 28px;
	height: auto;
	margin-left: 10px;
	margin-top: 5px;
	margin-right: 5px;
}



.message_ice_icon{
	margin-left: 180px;
	margin-top: 3px;
	margin-right: 5px;
	width: 34px;
	height: auto;
}

.message_score{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40px;
	float: left;

}

.fire_message{
	clear: both;
	border-left: 3px solid orange;
}


.ice_message{
	clear: both;
	float: right;
	margin-left: 110px;
	color: white; 
	border-right: 3px solid #88CDFF;
}

.neutral_message{
	clear: both;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 20px;
	color: gray;
}

#header_title{
	margin: 0 3%; 
	display: inline-block;
	float: left;
	font-size: 30px;
	font-family: "Open Sans";
	color: white;
}

#header_leftside{
	display: inline-block;
	float: right;
	width: 50%;
	position: relative;

}

#header_image_div{
	padding: 0;
	display: inline-block;
}
#header_rightside{
	display: inline-block;
	padding: 0;
	width: 400px;
}

#header_image{
	display: inline-block;
	padding-top: 6px;
	height: 30px;
	width: auto;
}

#header input{
	display: block;
	padding-left: 10px;
	border: 0;
	margin-right: 10%;
	height: 30px;
	width: 92%;
}

#logout_button{
	margin-top: 5px;
	margin-right: 8%;
	float: right;
	font-size: 12px;
	display: block;
	color: white;
	font-family: "Open Sans";
	cursor: pointer;
}

#logout_button:hover{
	color: #FFCA2A;
}



p{
	margin: 0;
	color: #4A4A4A;
	font-size: 14px;
	width: 100%;
}

.wall_instructions{
	padding-top: 40px;
	text-align: center;
	padding-bottom: 20px;
}

.message_form{
	position: relative;
	text-align: center;
	border: 0;
	height: 150px;
	width: 150px;
	margin: 0px 35px;
  	color: black;
  	font-size: 12px;
  	box-shadow: 2px 2px 5px #888;
  	padding: 15px;
  	overflow: hidden;
}

#follow_instructions{
	position: relative;

}

#username{
	text-align: center;
	font-size: 20px;
	position: relative;
	top: 35px;
}

#profile_picture_to_display{
	position: relative;
	top: 50px;
	display: block;
	margin: 0 auto;
	width: auto;
	height: 100px;
	text-align: center;
	outline: 2px;
	outline-color: black;

}

#score{
	padding: 0 35%;
	position: relative;
	top: 75px;
	width: 100%;
}

#following{
	text-align: center;
	position: relative;
	display: block;
	top:145px;

}


#message_form{
    padding: 20px;
    text-align: left;
    font-style: "Open Sans";
    font-size: 14px;
    color: #4A4A4A;
}



#following_profile_pictures_table{
	position: relative;
	display: block;
	top: 10px;
	
}

.following_profile_picture{
	display: inline-block;
	width: 50px;
	height: auto;
	padding:5px;
}


::-webkit-input-placeholder { /* WebKit browsers */

    position: relative;
    position:0 0;
    height: 100px;
    width:60%;
    font-size: 15px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */

    position: relative;
    position:0 0;
    height: 100px;
    width:60%;
    font-size: 15px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */

    position: relative;
    position:0 0;
    height: 100px;
    width:60%;
    font-size: 15px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */

    position: relative;
    position:0 0;
    height: 100px;
    width:60%;
    font-size: 15px;
}

